<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net45" />
  <package id="log4net" version="2.0.10" targetFramework="net45" />
  <package id="PeanutButter.ServiceShell" version="1.0.95" targetFramework="net45" />
  <package id="PeanutButter.TinyEventAggregator" version="1.0.95" targetFramework="net45" />
  <package id="PeanutButter.Utils" version="1.0.95" targetFramework="net45" />
  <package id="PeanutButter.WindowsServiceManagement" version="1.0.95" targetFramework="net45" />
  <package id="Simple.MailServer" version="0.9.3.3" targetFramework="net45" />
</packages>