<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net45" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net45" />
  <package id="NSubstitute" version="1.8.1.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="PeanutButter.RandomGenerators" version="1.0.95" targetFramework="net45" />
  <package id="PeanutButter.TestUtils.Generic" version="1.0.95" targetFramework="net45" />
  <package id="PeanutButter.TinyEventAggregator" version="1.0.95" targetFramework="net45" />
  <package id="PeanutButter.Utils" version="1.0.95" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.96.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.96.0" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.96.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.96.0" targetFramework="net45" />
</packages>